body {
	background: #ccc;
	border-top: 5px solid #424242;
	margin: 0;
	font-family: "Helvetica", sans-serif;
	line-height: 1.4em;
}


h1 {
	margin: 0;
	padding: 20px 15px;
	background: #aaa;
	color: #fff;
	text-shadow: 1px 1px 2px #424242;
	text-align:center;
}

h2 {
	background: #666;
	color: #fff;
	padding: 10px 50px;
}

p {
	margin-left: 20px;
	margin-right: 20px;
}

table, tr, td {
	border: 3px solid #333;
	border-collapse: collapse;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
}

table td {
	padding: 5px;
}